@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-manrope;
}
.slick-slide {
  transition: opacity 1s ease-in-out; /* Adjust duration to match your fade speed */
  background-color: black; /* Black background during transitions */
}

.slick-current {
  background-color: transparent !important; /* Ensure no background for the current slide */
}
